<div class="col">
    <h2><a href="/u/<%= post.user %>"><%= post.user %></a> 說</h2>
    <p><small><%= post.time %></small></p>
    <blockquote class="blockquote postcontent"><%= post.post %></blockquote>
</div>