<h2 class="regheader">用户注册</h2>
<form method="post" class="regform">
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="username" >用戶名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" name="username" aria-describedby="nameHelpBlock" autocomplete>
        <small id="passwordHelpBlock" class="form-text text-muted">
          你的賬戶的名稱，用於登錄和顯示。
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="password">口令</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" name="password" autocomplete>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="password-repeat">重複輸入口令</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password-repeat" name="password-repeat" autocomplete>
      </div>
    </div>
    <div class="form-group row">
       <div class="col-sm-10">
         <button type="submit" class="btn btn-primary">註冊</button>
       </div>
    </div>
</form>
